@model ProductViewer.WebUI.Models.ProductViewModel

<div id="addOrEditProduct">
    <div class="card-panel grey lighten-5">
        <h1 class="h1 align-content-center">Enter information:</h1>
        @if (TempData["error"] != null)
        {
            <div class="alert alert-success card-panel red lighten-5">
                <h3 class="h3 materialize-red-text">Something went wrong...</h3>
                @TempData["error"]
            </div>
        }
        @using (Html.BeginForm("AddOrEditProduct", "Home", FormMethod.Post, new { id = "addOrEditForm" }))
        {
            <div class="card-panel blue-grey lighten-5 hoverable">
                <h3 class="h3">Product info:</h3>
                @{
                    if (Model != null)
                    {
                        @Html.HiddenFor(x => x.ProductEntityId);
                        @Html.HiddenFor(x => x.ProductModelEntityProductModelID);
                        @Html.HiddenFor(x => x.ProductDescriptionEntityProductDescriptionID);
                    }
                }
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityName, new { @class = "validate", @id = "productEntityName" })
                    <label for="productEntityName">Name</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Name of the product.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityName, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityNumber, new { @class = "validate", @type = "text", @id = "productEntityNumber" })
                    <label for="productEntityNumber">Number</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Unique product identification number.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityNumber, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntitySafetyStockLevel, new { @class = "validate", @type = "number", @id = "productEntitySafetyStockLevel" })
                    <label for="productEntitySafetyStockLevel">Safety stock level</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Minimum inventory quantity.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntitySafetyStockLevel, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityReorderPoint, new { @class = "validate", @type = "number", @id = "productEntityReorderPoint" })
                    <label for="productEntityReorderPoint">Reorder point</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Inventory level that trigers a purchase order or work order.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityReorderPoint, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityStandardCost, new { @class = "validate", @type = "number", @step = "0.01", @id = "productEntityStandardCost" })
                    <label for="productEntityStandardCost">Standard cost</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Standard cost of the product.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityStandardCost, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityListPrice, new { @class = "validate", @type = "number", @step = "0.01", @id = "productEntityListPrice" })
                    <label for="productEntityListPrice">List price</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Selling price.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityListPrice, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductEntityDaysToManufacture, new { @class = "validate", @type = "number", @id = "productEntityDaysToManufacture" })
                    <label for="productEntityDaysToManufacture">Days to manufacture</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Number of days required to manufacture the product.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntityDaysToManufacture, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.EditorFor(x => x.ProductEntitySellStartDate)
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Date the product was available for sale.</span>
                    @Html.ValidationMessageFor(x => x.ProductEntitySellStartDate, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="card-panel blue-grey lighten-5 hoverable">
                <h3 class="h3">Product description info:</h3>
                <div class="input-field col s12">
                    @Html.TextAreaFor(x => x.ProductDescriptionEntityDescription, new { @class = "materialize-textarea validate", @type = "text", @id = "productDescriptionEntityDescription" })
                    <label for="productDescriptionEntityDescription">Description</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Description of the product.</span>
                    @Html.ValidationMessageFor(x => x.ProductDescriptionEntityDescription, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="card-panel blue-grey lighten-5 hoverable">
                <h3 class="h3">Product inventory info:</h3>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductInventoryEntityShelf, new { @class = "validate", @type = "text", @id = "productInventoryEntityShelf" })
                    <label for="productInventoryEntityShelf">Shelf</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Storage compartment within an inventory location.</span>
                    @Html.ValidationMessageFor(x => x.ProductInventoryEntityShelf, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductInventoryEntityBin, new { @class = "validate", @type = "number", @id = "productInventoryEntityBin" })
                    <label for="productInventoryEntityBin">Bin</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Storage container on a shelf in an inventory location.</span>
                    @Html.ValidationMessageFor(x => x.ProductInventoryEntityBin, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductInventoryEntityQuantity, new { @class = "validate", @type = "number", @id = "productInventoryEntityQuantity" })
                    <label for="productInventoryEntityQuantity">Quantity</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Quantity of products in the inventory location.</span>
                    @Html.ValidationMessageFor(x => x.ProductInventoryEntityQuantity, "", new { @class = "red-text" })
                </div>
            </div>
            <div class="card-panel blue-grey lighten-5 hoverable">
                <h3 class="h3">Product price info:</h3>
                <div class="input-field col s12">
                    @Html.EditorFor(x => x.ProductListPriceHistoryEntityStartDate)
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">List price start date.</span>
                    @Html.ValidationMessageFor(x => x.ProductListPriceHistoryEntityStartDate, "", new { @class = "red-text" })
                </div>
                <div class="input-field col s12">
                    @Html.TextBoxFor(x => x.ProductListPriceHistoryEntityListPrice, new { @class = "validate", @type = "number", @step = "0.01", @id = "productListPriceHistoryEntityListPrice" })
                    <label for="productListPriceHistoryEntityListPrice">List price history</label>
                    <span class="text-monospace helper-text grey-text" data-error="wrong" data-success="">Product list price.</span>
                    @Html.ValidationMessageFor(x => x.ProductListPriceHistoryEntityListPrice, "", new { @class = "red-text" })
                </div>
            </div>
        }
    </div>
</div>