@using ProductViewer.WebUI.Models
@model ProductListViewModel

@{
    ViewBag.Title = "List of products";
}

<style>
    .modal {
        width: 95% !important;
        height: 100% !important;
    }
</style>

<div class="card-header">
    <h1 class="h1">Products:</h1>
</div>
<div class="card-content">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    { 
        <div class="card-panel teal lighten-5">
            <div class="input-field col s12" data-tip="To find something, you need to know what to look for! Enter at least one character and press Enter...">
                <i class="material-icons prefix">search</i>
                <input value="@Model.SearchValue" name="searchValue" id="search" type="text" class="validate" />
                @Html.HiddenFor(x=>x.PagingInfo.CurrentPage)
                @Html.HiddenFor(x=>x.SortConfig)
                <label for="search">Search:</label>
            </div>
        </div>
    }
    <a class="waves-effect waves-light btn-large" onclick="openModal(false, 0)" style="margin-bottom: 0.6em"><i class="material-icons right">add</i>Add new product</a>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            @*@Html.Action("AddOrEditProduct", new { isEditing = false })*@
        </div>
    </div>
    <div class="card-panel grey lighten-5">
        <table class="highlight">
            <thead>
            <tr>
                @Html.SortColumn(@Model.SortConfig, s => @Url.Action("Index", new {page = @Model.PagingInfo.CurrentPage, searchValue = @Model.SearchValue, sortCurrentCol = @Model.SortConfig.CurrentColumn, sortCurrentDir = @Model.SortConfig.IsAsc, sortColumn = s}))
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var p in @Model.Products)
            {
                <tr>
                    <td id="@p.ProductEntityId">@p.ProductEntityName</td>
                    <td>@p.ProductDescriptionEntityDescription</td>
                    <td>@p.ProductListPriceHistoryEntityListPrice.ToString("C")</td>
                    <td>@p.ProductInventoryEntityQuantity</td>
                    <td>@p.PriceForAll.ToString("C")</td>
                    <td>
                        <a @*href="@Url.Action("AddOrEditProduct", new { isEditing = true, id = p.ProductEntityId })"*@ onclick="openModal(true, @p.ProductEntityId)" id="@p.ProductEntityId" class="btn-floating btn waves-effect waves-light orange"><i class="material-icons">edit</i></a>
                    </td>
                    <td>
                        <a class="btn-floating btn waves-effect waves-light red" onclick="callConfirmationAlert(@p.ProductEntityId)"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            }
            </tbody>

        </table>
        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, searchValue = @Model.SearchValue, sortCurrentCol = @Model.SortConfig.CurrentColumn, sortCurrentDir = !(@Model.SortConfig.IsAsc), sortColumn = @Model.SortConfig.CurrentColumn}))
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".modal").modal();
    });
    function callConfirmationAlert(idRemovableItem) {
        if (idRemovableItem != undefined && typeof idRemovableItem === "number") {
            let text = $(`#${idRemovableItem}`).text();
            const confirmation = confirm(`Are you sure? Deleting ${text}...`);
            if (confirmation) {
                text = `/Home/RemoveItem/${idRemovableItem}`;
                location.href = text;
                M.toast({ html: '<p><i class=\'material-icons right\'>delete</i>Product deleted!</p>'});
            }
        }
    }
    function openModal(isEditing, idItem) {
        if (isEditing != undefined && typeof isEditing === "boolean" && idItem != undefined && typeof idItem === "number") {
            var url = "@Url.Action("AddOrEditProduct", new { isEditing = false })"; 
            if (isEditing === false) {
                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function (result) {

                        $('.modal-content').html(result);
                        /* little fade in effect */
                        $('.modal-content').fadeIn('fast');
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            } else {
                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: { isEditing: JSON.stringify(true), id: JSON.stringify(idItem) },
                    success: function (result) {

                        $('.modal-content').html(result);
                        /* little fade in effect */
                        $('.modal-content').fadeIn('fast');
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
            $("#modal1").modal('open');
        }
    }
</script>