@model ProductViewer.WebUI.Models.ProductViewModel

<div id="productDetailsView">
    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">

        </div>
        <div class="modal-footer">
            <a onclick="" class="modal-close waves-effect waves-light btn-large"><i class="material-icons left">cancel</i>Cancel</a>
            <a onclick="sendInfo()" class="modal-close waves-effect waves-light btn-large"><i class="material-icons left">send</i>Submit</a>
        </div>
    </div>

    <div class="container">
        <a onclick="history.back()" class="waves-effect waves-red btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img class="materialboxed" data-caption="@Model.ProductDescriptionEntityDescription" src="/images/placeholder.gif">
                        <span class="card-title">@Model.ProductEntityName</span>
                        <a onclick="addToCart()" data-position="right" data-tooltip="Add to cart..." class="btn-floating btn-large halfway-fab waves-effect waves-light green tooltipped"><i class="material-icons">add</i></a>
                        <a onclick="editProduct()" data-position="top" data-tooltip="Edit product..." class="btn-floating halfway-fab waves-effect waves-light orange tooltipped"><i class="material-icons">edit</i></a>
                        <a onclick="deleteProduct()" data-position="left" data-tooltip="Delete product..." class="btn-floating halfway-fab waves-effect waves-light red tooltipped"><i class="material-icons">delete</i></a>
                    </div>

                    <div class="card-content">
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><i class="material-icons left">description</i>Description:</td>
                                <td>@Model.ProductDescriptionEntityDescription</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons left">attach_money</i>Price:</td>
                                <td>@Model.ProductListPriceHistoryEntityListPrice.ToString("C")</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons left">filter_9_plus</i>Quantity:</td>
                                <td>@Model.ProductInventoryEntityQuantity</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons left">info_outline</i>Product number:</td>
                                <td>@Model.ProductEntityNumber</td>
                            </tr>
                            <tr>
                                <td><i class="material-icons left">lock_outline</i>Safety stock level:</td>
                                <td>@Model.ProductEntitySafetyStockLevel</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip();
        $('.materialboxed').materialbox();
        $(".modal").modal({
            onCloseEnd: function () {
                M.toast({ html: '<p><i class=\'material-icons right\'>cancel</i>Action cancelled</p>' });
            }
        });
        $(document).ready(function(){
            $('.collapsible').collapsible({accordion:false});
        });
    });
    function editProduct() {
        var url = "@Url.Action("AddOrEditProduct", new{isEditing = true, id = @Model.ProductEntityId })";
        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (result) {

                $('.modal-content').html(result);
                /* little fade in effect */
                $('.modal-content').fadeIn('fast');
                window.M.updateTextFields();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
        $("#modal1").modal('open');
    }
    function deleteProduct() {
        let text = $(`#${@Model.ProductEntityId}`).text();
        const confirmation = confirm(`Are you sure? Deleting ${text}...`);
        if (confirmation) {
            text = `/Home/RemoveItem/${@Model.ProductEntityId}`;
            location.href = text;
            M.toast({ html: '<p><i class=\'material-icons right\'>delete</i>Product deleted!</p>' });
        }
        history.back();
    }
    function addToCart() {
        M.toast({
            html: '<p><i class=\'material-icons right\'>add_shopping_cart</i>Added to cart!</p>'
        });
    }
    function sendInfo() {
        $.ajax({
            type: "POST",
            url: "/Home/AddOrEditProduct",
            data: $('#addOrEditForm').serialize(),
            success: function (isSuccess) {
                if (isSuccess != undefined && isSuccess === 'True') {
                    $("#modal1").modal('close');
                    M.toast({ html: '<p><i class=\'material-icons right\'>done</i>Product has been saved!</p>' })
                } else if (isSuccess != undefined) {
                    $('.modal-content').html(isSuccess);
                    window.M.updateTextFields();
                    $("#modal1").modal('open');
                }
            },
            error: function () {
                M.toast({
                    html: '<p><i class=\'material-icons right\'>warning</i>Something went wrong!Try again</p>'
                });
            }
        });
        location.reload();
    }
</script>