@model ProductViewer.WebUI.Models.ProductViewModel

<style>
    .modal {
        width: 95% !important;
        height: 100% !important;
    }
</style>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">

    </div>
    <div class="modal-footer" style="margin: 1em 1em 1em 0">
        <a onclick="" class="modal-close waves-effect waves-light btn-large"><i class="material-icons left">cancel</i>Cancel</a>
        <a onclick="sendInfo()" class="modal-close waves-effect waves-light btn-large"><i class="material-icons left">send</i>Submit</a>
    </div>
</div>

<div class="container">
    <div class="row card" style="background-color: #fafafa">
        <a style="margin: 1em" onclick="history.back()" class="modal-close card-title waves-effect waves-light btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
    </div>
    <div class="row" style="margin-top: 0em">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" data-caption="@Model.ProductDescriptionEntityDescription" src="/images/placeholder.gif">
                    <span class="card-title">@Model.ProductEntityName</span>
                    <a onclick="addToCart()" data-position="right" data-tooltip="Add to cart..." class="btn-floating btn-large halfway-fab waves-effect waves-light green tooltipped"><i class="material-icons">add</i></a>
                    <a onclick="editProduct()" data-position="top" data-tooltip="Edit product..." style="margin-right: 5em" class="btn-floating halfway-fab waves-effect waves-light orange tooltipped"><i class="material-icons">edit</i></a>
                    <a onclick="deleteProduct()" data-position="left" data-tooltip="Delete product..." style="margin-right: 9em" class="btn-floating halfway-fab waves-effect waves-light red tooltipped"><i class="material-icons">delete</i></a>
                </div>

                <div class="card-content">
                    <ul class="collapsible popout">
                        <li class="active">
                            <div class="collapsible-header"><i class="material-icons">description</i>Description</div>
                            <div class="collapsible-body"><span>@Model.ProductDescriptionEntityDescription</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">attach_money</i>Price</div>
                            <div class="collapsible-body"><span>@Model.ProductListPriceHistoryEntityListPrice.ToString("C")</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">filter_9_plus</i>Quantity</div>
                            <div class="collapsible-body"><span>@Model.ProductInventoryEntityQuantity pieces</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">info_outline</i>Product number</div>
                            <div class="collapsible-body"><span>@Model.ProductEntityNumber</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">lock_outline</i>Safety stock level</div>
                            <div class="collapsible-body"><span>@Model.ProductEntitySafetyStockLevel</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.tooltipped').tooltip();
        $('.materialboxed').materialbox();
        $(".modal").modal({
            onCloseEnd: function () {
                M.toast({ html: '<p><i class=\'material-icons right\'>cancel</i>Action cancelled</p>' });
            }
        });
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    });
    function editProduct() {
        var url = "@Url.Action("AddOrEditProduct", new{isEditing = true, id = @Model.ProductEntityId })";
        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (result) {

                $('.modal-content').html(result);
                /* little fade in effect */
                $('.modal-content').fadeIn('fast');
                window.M.updateTextFields();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
        $("#modal1").modal('open');
    }
    function deleteProduct() {
        let text = $(`#${@Model.ProductEntityId}`).text();
        const confirmation = confirm(`Are you sure? Deleting ${text}...`);
        if (confirmation) {
            text = `/Home/RemoveItem/${@Model.ProductEntityId}`;
            location.href = text;
            M.toast({ html: '<p><i class=\'material-icons right\'>delete</i>Product deleted!</p>' });
        }
        history.back();
    }
    function addToCart() {
        M.toast({
            html: '<p><i class=\'material-icons right\'>add_shopping_cart</i>Added to cart!</p>'
        });
    }
    function sendInfo() {
        $.ajax({
            type: "POST",
            url: "/Home/AddOrEditProduct",
            data: $('#addOrEditForm').serialize(),
            success: function (isSuccess) {
                if (isSuccess != undefined && isSuccess === 'True') {
                    $("#modal1").modal('close');
                    M.toast({ html: '<p><i class=\'material-icons right\'>done</i>Product has been saved!</p>' })
                } else if (isSuccess != undefined) {
                    $('.modal-content').html(isSuccess);
                    window.M.updateTextFields();
                    $("#modal1").modal('open');
                }
            },
            error: function () {
                M.toast({
                    html: '<p><i class=\'material-icons right\'>warning</i>Something went wrong!Try again</p>'
                });
            }
        });
        location.reload();
    }
</script>