<!DOCTYPE html>
<html id="layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    @Styles.Render("~/bundles/sitecss")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>    <!-- Compiled and minified JavaScript -->
    @Scripts.Render("~/bundles/materializejs")
</head>
<body>
<main class="body-content">
    @RenderBody()
</main>
<footer class="page-footer">
    <div class="footer-copyright">
        <p>&copy; @DateTime.Now.Year - Product Viewer Application</p>
    </div>
</footer>
@RenderSection("scripts", required: false)
</body>
</html>
