<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    @Styles.Render("~/bundles/materializecss")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>    <!-- Compiled and minified JavaScript -->
    @Scripts.Render("~/bundles/materializejs")
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
<main class="container body-content">
    @RenderBody()
</main>
<footer class="page-footer" style="background-color: #26a69a">
    <div class="footer-copyright" style="margin-top: -1em">
        <p>&copy; @DateTime.Now.Year - Product Viewer Application</p>
    </div>
</footer>
@RenderSection("scripts", required: false)
</body>
</html>
